*{
    box-sizing: border-box;
}
.main-title {
    text-align: center;
    padding: 10px;
}
header {
    -webkit-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.75);
    padding: 20px;
    & p {
        display: none;
    }
    @media only screen and (min-width: 1100px) {
        & img {
            margin-left: 20%;
        }
        display: flex;
        align-items: center;
        & p {
            display: block;
        }
}
}


.host-profilepic {
    display: none;
    @media only screen and (min-width: 1100px) {
        display: block;
        margin: 40px;
        & img {
            height: 40px;
            width: 40px;
            border-radius: 50%;
            overflow: hidden;
        }  
        }
  
}

.attending {
    display: none;
    @media only screen and (min-width: 1100px) {
        display: block;
        margin: 40px;

        }

}

h1 {
    font-weight: bold;
    font-size: 2em;
}

.button {
    width: 100%;
    height: 30px;
    background-color: rgb(247, 167, 167);
    margin: 10px 0;
    border-radius: 10px;

}

.collab-button {
    @media only screen and (min-width: 1100px) {

        display: none;
    
            }
}

.event-info, .tech-stack {
    @media only screen and (min-width: 1100px) {

 
        margin: 20px auto;
        text-align: center;
}
}



.event-info h2 {
    text-align: center;
    font-weight: bold;
    font-size: 1.3em;
    margin-bottom: 10px;
    line-height: 1.2;
}

.event-info p {
    margin-top: 10px;
    line-height: 1.2;
}

.tech-stack h2 {
    text-align: center;
    font-weight: bold;
    font-size: 1.3em;
    margin-bottom: 10px;
    margin-top: 10px;
}

.interests__list {
    display: flex;
    justify-content: space-around;
}
.details-container {
    @media only screen and (min-width: 1100px) {
        border: 1px solid gray;
        -webkit-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.75);
        -moz-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.75);
        box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.75);
        border-radius: 10px;
        width: 50%;
        margin: 30px;
}
}

.list-item {

    background-color: rgb(218, 210, 210);
    display: inline-block;
    border-radius: 5px;
    padding: 10px;
}

.map {
    margin-top: 20px;

    & img {
        width: 100%;
        height: 200px;
    }
}

.main-area {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    @media only screen and (max-width: 1100px) {
        flex-direction: column;
        }
}

.pending-collaborators {
    @media only screen and (min-width: 1100px) {
    width: 50%;
    text-align: center;
    padding: 20px;
    margin-right: 30px;
    margin-top: 30px;
    -webkit-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.75);
    border-radius: 10px;
    }

    @media only screen and (max-width: 1100px) {
        margin-top: 30px;

        }
}

.events {
    text-align: center;
    & h2 {
        margin-bottom: 20px;
        font-weight: bold;
        font-size: 1.3em;
    }
}