.explore-container {
    display: flex;
    height: 100vh;
}

.filters {
    flex: 0.3;
    background-color: rgb(238, 204, 204);

}

.search-area {
    flex: 0.7;
    background-color: rgb(200, 200, 238);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    flex-wrap: wrap;

}

.filter-skills {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}


.search-results {
 display: flex;

    
}