.project-top-section {
    height: 300px;
    display: flex;

}

.project-image {
    width: 200px;
}

.project-page-profile-image {
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.top-section__extrainfo {
    display: flex;
}

.project-page-header-additional-info, .extrainfo-image-container, .project-page-request-collaborate, .project-page-new-meeting {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

