.home-collaborations-display, .home-myprojects-display, .home-savedprojects-display  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;

}

.home-page-container {
  height: 100vh;
  background-color: rgb(245, 240, 240)
}

.create-project-form-section {

}


.react-tabs {
    // background-color: rgb(252, 246, 246);
    -webkit-tap-highlight-color: transparent;
    margin: 15px;
    border: 2px solid #ccc;
    border-radius: 20px;
  
    &__tab-list {
      // border-bottom: 3px solid rgb(160, 200, 235);
      margin: 0 0 10px;
      padding: 20px;
    }
  
    &__tab {
      display: inline-block;
      border: 1px solid transparent;
      border-bottom: none;
      bottom: -1px;
      position: relative;
      list-style: none;
      padding: 6px 12px;
      cursor: pointer;
  
      &--selected {
        background: #fff;
        border-color: #aaa;
        color: black;
        border-radius: 5px 5px 0 0;
      }
  
      &--disabled {
        color: GrayText;
        cursor: default;
      }
  
      &:focus {
        box-shadow: 0 0 5px hsl(208, 99%, 50%);
        border-color: hsl(208, 99%, 50%);
        outline: none;
  
        &:after {
          content: "";
          position: absolute;
          height: 5px;
          left: -4px;
          right: -4px;
          bottom: -5px;
          // background: rgb(255, 255, 255);
        }
      }
    }
  
    &__tab-panel {
      display: none;
  
      &--selected {
        display: block;
      }
    }
  }