extends layout
block content
      div(class="home-wrapper")
        p(class="home__title") Welcome #{name}!
        a(class="home__buttons" href='/logout') logout <br/>
        a(class="home__buttons" href='/postits') Make Postit