extends layout
block content
      div(class="container")
        h1.landing__title Postit App
        a(class="landing__buttons" href='/login') Login
        a(class="landing__buttons" href='/register') Register