extends layout
block content
  div(class="top-area")
    p Welcome #{user.name}!
    a(class="postits__buttons--logout" href='/logout') logout
    
  div(class="postits-create-wrapper")
    form(class="postits__form" action='/postits' method='POST')
      input(type='text' name='postit')
      button(class="postits__buttons" type='submit') Create
  div(class="postit-wrapper")
    ul(class="postit-list")
      div(class="postit-grid")
        each val in user.postits
          li
            form(action='/postits/'+val.id method='POST')
              input(class="input-text" type='text' value=val.text name="text")
              input(type='hidden' value=val.id name="postitId")
              button(class="save-text" type='submit' value='edit' name='operation') Save
              button(type='submit' value='remove' name='operation')     <i class="fas fa-times"></i>